---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=9_HfxFNfnszh_6oDy1moB7hK8jRq7irGR1P0vL2WzW0&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"859bdc66964d757510b7da4d4aa725dc"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"G5WEimF-N-0","slug":"G5WEimF-N-0","created_at":"2023-04-23T12:09:36Z","updated_at":"2023-05-16T04:36:50Z","promoted_at":"2023-04-29T13:14:53Z","width":3619,"height":5223,"color":"#8ca6a6","blur_hash":"LHGcGjj[?wozaxRjWBof.9fkDiRj","description":null,"alt_description":"an
        aerial view of a tree in the snow","urls":{"raw":"https://images.unsplash.com/photo-1682250705703-3dc5433a3c2b?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzkyNDV8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1682250705703-3dc5433a3c2b?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzkyNDV8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1682250705703-3dc5433a3c2b?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzkyNDV8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1682250705703-3dc5433a3c2b?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzkyNDV8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1682250705703-3dc5433a3c2b?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzkyNDV8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1682250705703-3dc5433a3c2b"},"links":{"self":"https://api.unsplash.com/photos/G5WEimF-N-0","html":"https://unsplash.com/photos/G5WEimF-N-0","download":"https://unsplash.com/photos/G5WEimF-N-0/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzkyNDV8","download_location":"https://api.unsplash.com/photos/G5WEimF-N-0/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzkyNDV8"},"likes":70,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"sSWr5FelYz4","updated_at":"2023-05-16T11:47:40Z","username":"maxxna","name":"Mona
        Bernhardsen","first_name":"Mona","last_name":"Bernhardsen","twitter_username":null,"portfolio_url":null,"bio":"A
        person","location":"Holmestrand","links":{"self":"https://api.unsplash.com/users/maxxna","html":"https://unsplash.com/@maxxna","photos":"https://api.unsplash.com/users/maxxna/photos","likes":"https://api.unsplash.com/users/maxxna/likes","portfolio":"https://api.unsplash.com/users/maxxna/portfolio","following":"https://api.unsplash.com/users/maxxna/following","followers":"https://api.unsplash.com/users/maxxna/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1679682347905-56bde901f02cimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1679682347905-56bde901f02cimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1679682347905-56bde901f02cimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"maxxna","total_collections":0,"total_likes":12,"total_photos":266,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"maxxna","portfolio_url":null,"twitter_username":null,"paypal_email":null}},"exif":{"make":"DJI","model":"FC3411","name":"DJI,
        FC3411","exposure_time":"1/640","aperture":"2.8","focal_length":"8.4","iso":100},"location":{"name":"Sande,
        Norway","city":"Sande","country":"Norway","position":{"latitude":59.586862,"longitude":10.207984}},"views":456621,"downloads":2701}]'
  recorded_at: Tue, 16 May 2023 23:20:45 GMT
[...]
