---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=client_id=UNSPLASH_API_KEY&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"cd2408e4e5aaf12859a7d8440afa8268"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"uvAhJHLul_Q","slug":"uvAhJHLul_Q","created_at":"2023-05-07T13:03:45Z","updated_at":"2023-05-16T05:35:10Z","promoted_at":"2023-05-11T07:24:01Z","width":5276,"height":3517,"color":"#d9d9d9","blur_hash":"LlMj,ZRi_Nxu_3xuIUWBozayo0oe","description":"Upper
        Peninsula of Michigan","alt_description":"a woman with long hair wearing a
        beanie","urls":{"raw":"https://images.unsplash.com/photo-1683464623235-d165004a9e75?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzg2NDh8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1683464623235-d165004a9e75?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzg2NDh8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1683464623235-d165004a9e75?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzg2NDh8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1683464623235-d165004a9e75?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzg2NDh8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1683464623235-d165004a9e75?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzg2NDh8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1683464623235-d165004a9e75"},"links":{"self":"https://api.unsplash.com/photos/uvAhJHLul_Q","html":"https://unsplash.com/photos/uvAhJHLul_Q","download":"https://unsplash.com/photos/uvAhJHLul_Q/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzg2NDh8","download_location":"https://api.unsplash.com/photos/uvAhJHLul_Q/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzg2NDh8"},"likes":13,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"Ildxbb-k8hQ","updated_at":"2023-05-16T21:08:33Z","username":"ghilty","name":"Grace
        Hilty","first_name":"Grace","last_name":"Hilty","twitter_username":null,"portfolio_url":null,"bio":null,"location":null,"links":{"self":"https://api.unsplash.com/users/ghilty","html":"https://unsplash.com/pt-br/@ghilty","photos":"https://api.unsplash.com/users/ghilty/photos","likes":"https://api.unsplash.com/users/ghilty/likes","portfolio":"https://api.unsplash.com/users/ghilty/portfolio","following":"https://api.unsplash.com/users/ghilty/following","followers":"https://api.unsplash.com/users/ghilty/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1675714284246-28933ad032d8image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1675714284246-28933ad032d8image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1675714284246-28933ad032d8image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"hilty_grace","total_collections":0,"total_likes":0,"total_photos":74,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"hilty_grace","portfolio_url":null,"twitter_username":null,"paypal_email":null}},"exif":{"make":"Canon","model":"
        EOS 6D","name":"Canon, EOS 6D","exposure_time":"1/400","aperture":"4.0","focal_length":"35.0","iso":100},"location":{"name":null,"city":null,"country":null,"position":{"latitude":null,"longitude":null}},"views":456789,"downloads":2397}]'
  recorded_at: Tue, 16 May 2023 23:10:48 GMT
[...]
