---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=UNSPLASH_API_KEY&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"d9833d4a6198acb27dea0ee9df815872"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"MGzhcc_dsNk","slug":"MGzhcc_dsNk","created_at":"2022-12-09T16:56:35Z","updated_at":"2023-05-14T23:53:34Z","promoted_at":"2023-04-25T04:40:01Z","width":5394,"height":7551,"color":"#EFEFEF","blur_hash":"LPLW#px?g2n-EYnNN3WZ%jShbVaf","description":null,"alt_description":"a
        hand holding a glass of wine","urls":{"raw":"https://plus.unsplash.com/premium_photo-1670333291386-6d9e11b54b43?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzU1ODB8\u0026ixlib=rb-4.0.3","full":"https://plus.unsplash.com/premium_photo-1670333291386-6d9e11b54b43?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzU1ODB8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://plus.unsplash.com/premium_photo-1670333291386-6d9e11b54b43?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzU1ODB8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://plus.unsplash.com/premium_photo-1670333291386-6d9e11b54b43?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzU1ODB8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://plus.unsplash.com/premium_photo-1670333291386-6d9e11b54b43?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzU1ODB8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/unsplash-premium-photos-production/premium_photo-1670333291386-6d9e11b54b43"},"links":{"self":"https://api.unsplash.com/photos/MGzhcc_dsNk","html":"https://unsplash.com/photos/MGzhcc_dsNk","download":"https://unsplash.com/photos/MGzhcc_dsNk/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzU1ODB8","download_location":"https://api.unsplash.com/photos/MGzhcc_dsNk/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzU1ODB8"},"likes":46,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"FK5R4wrfrFU","updated_at":"2023-05-16T09:42:37Z","username":"katelynperry","name":"Katelyn
        Perry","first_name":"Katelyn","last_name":"Perry","twitter_username":null,"portfolio_url":"https://www.katelyn-perry.com","bio":"Editorial
        and Commercial Photographer.","location":"New York, New York","links":{"self":"https://api.unsplash.com/users/katelynperry","html":"https://unsplash.com/fr/@katelynperry","photos":"https://api.unsplash.com/users/katelynperry/photos","likes":"https://api.unsplash.com/users/katelynperry/likes","portfolio":"https://api.unsplash.com/users/katelynperry/portfolio","following":"https://api.unsplash.com/users/katelynperry/following","followers":"https://api.unsplash.com/users/katelynperry/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1681240351013-5ff1c5863743image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1681240351013-5ff1c5863743image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1681240351013-5ff1c5863743image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"katelynperry_","total_collections":0,"total_likes":0,"total_photos":168,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"katelynperry_","portfolio_url":"https://www.katelyn-perry.com","twitter_username":null,"paypal_email":null}},"exif":{"make":null,"model":null,"name":null,"exposure_time":null,"aperture":null,"focal_length":null,"iso":null},"location":{"name":null,"city":null,"country":null,"position":{"latitude":null,"longitude":null}},"views":0,"downloads":0}]'
  recorded_at: Tue, 16 May 2023 22:19:40 GMT
[...]
