---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=UNSPLASH_API_KEY&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"15cebe0feb8392a84f143c9498962290"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"vvMIuAmVLUY","slug":"vvMIuAmVLUY","created_at":"2023-04-11T18:50:44Z","updated_at":"2023-05-16T20:34:57Z","promoted_at":"2023-04-16T09:13:32Z","width":6000,"height":3814,"color":"#d9d9c0","blur_hash":"LsJ[6Jt7IVt7~pofR*azR+WBt7Rj","description":"Shortland,
        Thames, circa 1868, New Zealand, by John Hoyte. Purchased 1993 with New Zealand
        Lottery Grants Board funds. Te Papa (1993-0029-3)","alt_description":"a painting
        of a landscape with animals and trees","urls":{"raw":"https://images.unsplash.com/photo-1681238339140-7fa1654fb6ad?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzU1Nzl8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1681238339140-7fa1654fb6ad?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzU1Nzl8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1681238339140-7fa1654fb6ad?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzU1Nzl8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1681238339140-7fa1654fb6ad?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzU1Nzl8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1681238339140-7fa1654fb6ad?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzU1Nzl8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1681238339140-7fa1654fb6ad"},"links":{"self":"https://api.unsplash.com/photos/vvMIuAmVLUY","html":"https://unsplash.com/photos/vvMIuAmVLUY","download":"https://unsplash.com/photos/vvMIuAmVLUY/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzU1Nzl8","download_location":"https://api.unsplash.com/photos/vvMIuAmVLUY/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzU1Nzl8"},"likes":137,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"m6Q1Gzoicm8","updated_at":"2023-05-16T16:35:58Z","username":"tepapa","name":"Museum
        of New Zealand Te Papa Tongarewa","first_name":"Museum of New Zealand Te Papa
        Tongarewa","last_name":null,"twitter_username":"te_papa","portfolio_url":"https://www.tepapa.govt.nz/","bio":null,"location":"Wellington,
        New Zealand","links":{"self":"https://api.unsplash.com/users/tepapa","html":"https://unsplash.com/@tepapa","photos":"https://api.unsplash.com/users/tepapa/photos","likes":"https://api.unsplash.com/users/tepapa/likes","portfolio":"https://api.unsplash.com/users/tepapa/portfolio","following":"https://api.unsplash.com/users/tepapa/following","followers":"https://api.unsplash.com/users/tepapa/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1683214917800-95fd80936f9eimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1683214917800-95fd80936f9eimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1683214917800-95fd80936f9eimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"te_papa","total_collections":0,"total_likes":0,"total_photos":217,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"te_papa","portfolio_url":"https://www.tepapa.govt.nz/","twitter_username":"te_papa","paypal_email":null}},"exif":{"make":null,"model":null,"name":null,"exposure_time":null,"aperture":null,"focal_length":null,"iso":null},"location":{"name":null,"city":null,"country":null,"position":{"latitude":0.0,"longitude":0.0}},"views":472882,"downloads":4576}]'
  recorded_at: Tue, 16 May 2023 22:19:40 GMT
[...]
