---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=client_id=UNSPLASH_API_KEY&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"2b1f812eda4030f2c73bd503525d0cbe"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"--TtcmyrhRE","slug":"--TtcmyrhRE","created_at":"2023-03-29T10:15:23Z","updated_at":"2023-05-08T00:09:40Z","promoted_at":"2023-04-29T13:16:58Z","width":2160,"height":3840,"color":"#d9d9d9","blur_hash":"LWH{P$ovWUouWFt7kCjd~pjcV]jc","description":null,"alt_description":"a
        green plant with lots of leaves around it","urls":{"raw":"https://plus.unsplash.com/premium_photo-1680040211019-29a8dbb250d5?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzg2NDl8\u0026ixlib=rb-4.0.3","full":"https://plus.unsplash.com/premium_photo-1680040211019-29a8dbb250d5?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzg2NDl8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://plus.unsplash.com/premium_photo-1680040211019-29a8dbb250d5?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzg2NDl8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://plus.unsplash.com/premium_photo-1680040211019-29a8dbb250d5?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzg2NDl8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://plus.unsplash.com/premium_photo-1680040211019-29a8dbb250d5?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzg2NDl8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/unsplash-premium-photos-production/premium_photo-1680040211019-29a8dbb250d5"},"links":{"self":"https://api.unsplash.com/photos/--TtcmyrhRE","html":"https://unsplash.com/photos/--TtcmyrhRE","download":"https://unsplash.com/photos/--TtcmyrhRE/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzg2NDl8","download_location":"https://api.unsplash.com/photos/--TtcmyrhRE/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzg2NDl8"},"likes":27,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"zrRuhVscawE","updated_at":"2023-05-16T14:33:01Z","username":"gcol","name":"George
        C","first_name":"George","last_name":"C","twitter_username":null,"portfolio_url":null,"bio":null,"location":null,"links":{"self":"https://api.unsplash.com/users/gcol","html":"https://unsplash.com/@gcol","photos":"https://api.unsplash.com/users/gcol/photos","likes":"https://api.unsplash.com/users/gcol/likes","portfolio":"https://api.unsplash.com/users/gcol/portfolio","following":"https://api.unsplash.com/users/gcol/following","followers":"https://api.unsplash.com/users/gcol/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1642519752962-fbb4c68b6ab5image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1642519752962-fbb4c68b6ab5image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1642519752962-fbb4c68b6ab5image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"Designedbygeorge_","total_collections":0,"total_likes":11,"total_photos":184,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"Designedbygeorge_","portfolio_url":null,"twitter_username":null,"paypal_email":null}},"exif":{"make":null,"model":null,"name":null,"exposure_time":null,"aperture":null,"focal_length":null,"iso":null},"location":{"name":null,"city":null,"country":null,"position":{"latitude":0.0,"longitude":0.0}},"views":0,"downloads":0}]'
  recorded_at: Tue, 16 May 2023 23:10:49 GMT
[...]
