---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=UNSPLASH_API_KEY&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"727de4a5c67574185917f492251be5d2"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"2Q0afyHFvao","slug":"2Q0afyHFvao","created_at":"2023-04-16T12:55:27Z","updated_at":"2023-05-16T00:33:33Z","promoted_at":"2023-04-17T17:38:28Z","width":5462,"height":6828,"color":"#737373","blur_hash":"L9FP80tS8^n2Rq?uMwM|0LRkNxNG","description":"a
        water fall called the fairy pools on the isle skye in scotland","alt_description":"a
        mountain stream running through a rocky valley","urls":{"raw":"https://images.unsplash.com/photo-1681649514551-712e2093d277?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMTl8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1681649514551-712e2093d277?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMTl8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1681649514551-712e2093d277?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMTl8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1681649514551-712e2093d277?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMTl8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1681649514551-712e2093d277?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMTl8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1681649514551-712e2093d277"},"links":{"self":"https://api.unsplash.com/photos/2Q0afyHFvao","html":"https://unsplash.com/photos/2Q0afyHFvao","download":"https://unsplash.com/photos/2Q0afyHFvao/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMTl8","download_location":"https://api.unsplash.com/photos/2Q0afyHFvao/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMTl8"},"likes":72,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"CwX2K9ye3i4","updated_at":"2023-05-10T13:00:46Z","username":"martinbennie","name":"martin
        bennie","first_name":"martin","last_name":"bennie","twitter_username":null,"portfolio_url":"http://www.martinbenniephotography.com","bio":"I''m
        a landscape photographer based in the cairngorms national park in Scotland.
        I strive to find the calm amongst the chaos and stress of daily life by using
        photography as a form of meditation.  .","location":"scotland","links":{"self":"https://api.unsplash.com/users/martinbennie","html":"https://unsplash.com/@martinbennie","photos":"https://api.unsplash.com/users/martinbennie/photos","likes":"https://api.unsplash.com/users/martinbennie/likes","portfolio":"https://api.unsplash.com/users/martinbennie/portfolio","following":"https://api.unsplash.com/users/martinbennie/following","followers":"https://api.unsplash.com/users/martinbennie/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1663223754517-a025a0053067image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1663223754517-a025a0053067image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1663223754517-a025a0053067image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"martinbenniephotography","total_collections":3,"total_likes":1088,"total_photos":187,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"martinbenniephotography","portfolio_url":"http://www.martinbenniephotography.com","twitter_username":null,"paypal_email":null}},"exif":{"make":null,"model":null,"name":null,"exposure_time":null,"aperture":null,"focal_length":null,"iso":null},"location":{"name":"Fairy
        Pools, Glenbrittle, Isle of Skye, UK","city":"Glenbrittle","country":"United
        Kingdom","position":{"latitude":57.250343,"longitude":-6.258295}},"views":397854,"downloads":3441}]'
  recorded_at: Tue, 16 May 2023 21:58:39 GMT
[...]
