---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=UNSPLASH_API_KEY&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"19789bf80bda8e2111b9dba976783c0a"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"s6T_RuvuXKI","slug":"s6T_RuvuXKI","created_at":"2023-04-28T09:09:49Z","updated_at":"2023-05-16T15:34:20Z","promoted_at":"2023-05-02T08:54:56Z","width":3024,"height":4032,"color":"#405940","blur_hash":"LOFFgB9uk9j@~XWEs9kBtTt7Rjof","description":null,"alt_description":"a
        dirt path in the middle of a forest","urls":{"raw":"https://images.unsplash.com/photo-1682672412664-bf9740c7ebf1?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMjB8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1682672412664-bf9740c7ebf1?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMjB8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1682672412664-bf9740c7ebf1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMjB8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1682672412664-bf9740c7ebf1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMjB8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1682672412664-bf9740c7ebf1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMjB8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1682672412664-bf9740c7ebf1"},"links":{"self":"https://api.unsplash.com/photos/s6T_RuvuXKI","html":"https://unsplash.com/photos/s6T_RuvuXKI","download":"https://unsplash.com/photos/s6T_RuvuXKI/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMjB8","download_location":"https://api.unsplash.com/photos/s6T_RuvuXKI/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMjB8"},"likes":47,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"7tllYko_I4k","updated_at":"2023-05-15T15:01:46Z","username":"edelputte","name":"Eduard
        Delputte","first_name":"Eduard","last_name":"Delputte","twitter_username":"edelputte","portfolio_url":null,"bio":"Instagram:
        @edelputte","location":"Ghent","links":{"self":"https://api.unsplash.com/users/edelputte","html":"https://unsplash.com/@edelputte","photos":"https://api.unsplash.com/users/edelputte/photos","likes":"https://api.unsplash.com/users/edelputte/likes","portfolio":"https://api.unsplash.com/users/edelputte/portfolio","following":"https://api.unsplash.com/users/edelputte/following","followers":"https://api.unsplash.com/users/edelputte/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1677069964372-c1cac372f7e5image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1677069964372-c1cac372f7e5image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1677069964372-c1cac372f7e5image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"edelputte","total_collections":0,"total_likes":175,"total_photos":206,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"edelputte","portfolio_url":null,"twitter_username":"edelputte","paypal_email":null}},"exif":{"make":"DJI","model":"FC3582","name":"DJI,
        FC3582","exposure_time":"1/240","aperture":"1.7","focal_length":"6.7","iso":200},"location":{"name":"Hallerbos,
        Belgium","city":null,"country":"Belgium","position":{"latitude":50.707063,"longitude":4.290099}},"views":289358,"downloads":2089}]'
  recorded_at: Tue, 16 May 2023 21:58:40 GMT
[...]
