---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=UNSPLASH_API_KEY&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"6d15aef8403ed56669a8e1b74544b422"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"88OVeJgSIqM","slug":"88OVeJgSIqM","created_at":"2023-04-20T10:29:03Z","updated_at":"2023-05-16T04:36:47Z","promoted_at":"2023-04-20T12:35:27Z","width":4724,"height":7077,"color":"#d9d9d9","blur_hash":"LJMHV{Nx}?-UX;tRxaaevKnhEkSh","description":"Greece","alt_description":"a
        white building with a blue window and a red fire hydrant","urls":{"raw":"https://images.unsplash.com/photo-1681986524478-d5ef1eafc317?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNTg4NTV8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1681986524478-d5ef1eafc317?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNTg4NTV8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1681986524478-d5ef1eafc317?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNTg4NTV8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1681986524478-d5ef1eafc317?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNTg4NTV8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1681986524478-d5ef1eafc317?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNTg4NTV8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1681986524478-d5ef1eafc317"},"links":{"self":"https://api.unsplash.com/photos/88OVeJgSIqM","html":"https://unsplash.com/photos/88OVeJgSIqM","download":"https://unsplash.com/photos/88OVeJgSIqM/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNTg4NTV8","download_location":"https://api.unsplash.com/photos/88OVeJgSIqM/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNTg4NTV8"},"likes":52,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"wallpapers":{"status":"rejected"},"architecture-interior":{"status":"rejected"}},"user":{"id":"ILVykUeXteY","updated_at":"2023-05-15T19:57:19Z","username":"lauraadaiphoto","name":"laura
        adai","first_name":"laura","last_name":"adai","twitter_username":null,"portfolio_url":"https://www.lauraadaiphotography.com/","bio":"Italian
        photographer based in Milano.\r\nsigned fine art prints available","location":"italy,
        milano","links":{"self":"https://api.unsplash.com/users/lauraadaiphoto","html":"https://unsplash.com/@lauraadaiphoto","photos":"https://api.unsplash.com/users/lauraadaiphoto/photos","likes":"https://api.unsplash.com/users/lauraadaiphoto/likes","portfolio":"https://api.unsplash.com/users/lauraadaiphoto/portfolio","following":"https://api.unsplash.com/users/lauraadaiphoto/following","followers":"https://api.unsplash.com/users/lauraadaiphoto/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1649845710179-adb858d60d5fimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1649845710179-adb858d60d5fimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1649845710179-adb858d60d5fimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":null,"total_collections":48,"total_likes":1504,"total_photos":1513,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":null,"portfolio_url":"https://www.lauraadaiphotography.com/","twitter_username":null,"paypal_email":null}},"exif":{"make":null,"model":null,"name":null,"exposure_time":null,"aperture":null,"focal_length":"0.0","iso":null},"location":{"name":"Cyclades,
        Greece","city":null,"country":"Greece","position":{"latitude":37.104413,"longitude":25.009257}},"views":268196,"downloads":1749}]'
  recorded_at: Tue, 16 May 2023 17:40:55 GMT
recorded_with: VCR 6.1.0
