---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=9_HfxFNfnszh_6oDy1moB7hK8jRq7irGR1P0vL2WzW0&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"a2a7bdb6c1afe8e2dfd74b006052b75d"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"rQw2YVTyjds","slug":"rQw2YVTyjds","created_at":"2023-05-03T12:01:04Z","updated_at":"2023-05-15T16:00:52Z","promoted_at":"2023-05-05T15:27:00Z","width":5760,"height":3070,"color":"#d9d9d9","blur_hash":"LAMaLt4U-:xu?Gox%gt8-BXSW.IU","description":"a
        city - a collection of 3D creative illustration","alt_description":"a computer
        generated image of a city by the ocean","urls":{"raw":"https://plus.unsplash.com/premium_photo-1683105756685-238b23c9b12d?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzc2NTd8\u0026ixlib=rb-4.0.3","full":"https://plus.unsplash.com/premium_photo-1683105756685-238b23c9b12d?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzc2NTd8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://plus.unsplash.com/premium_photo-1683105756685-238b23c9b12d?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzc2NTd8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://plus.unsplash.com/premium_photo-1683105756685-238b23c9b12d?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzc2NTd8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://plus.unsplash.com/premium_photo-1683105756685-238b23c9b12d?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzc2NTd8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/unsplash-premium-photos-production/premium_photo-1683105756685-238b23c9b12d"},"links":{"self":"https://api.unsplash.com/photos/rQw2YVTyjds","html":"https://unsplash.com/photos/rQw2YVTyjds","download":"https://unsplash.com/photos/rQw2YVTyjds/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzc2NTd8","download_location":"https://api.unsplash.com/photos/rQw2YVTyjds/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzc2NTd8"},"likes":12,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"D3tV4p3mSXg","updated_at":"2023-05-16T01:44:45Z","username":"galka_nz","name":"Galina
        Nelyubova","first_name":"Galina","last_name":"Nelyubova","twitter_username":null,"portfolio_url":null,"bio":"a
        3D illustrator who loves making different visual stories)","location":"New
        Zealand","links":{"self":"https://api.unsplash.com/users/galka_nz","html":"https://unsplash.com/@galka_nz","photos":"https://api.unsplash.com/users/galka_nz/photos","likes":"https://api.unsplash.com/users/galka_nz/likes","portfolio":"https://api.unsplash.com/users/galka_nz/portfolio","following":"https://api.unsplash.com/users/galka_nz/following","followers":"https://api.unsplash.com/users/galka_nz/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1672454218749-6fda4ba36827image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1672454218749-6fda4ba36827image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1672454218749-6fda4ba36827image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":null,"total_collections":35,"total_likes":444,"total_photos":301,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":null,"portfolio_url":null,"twitter_username":null,"paypal_email":null}},"exif":{"make":null,"model":null,"name":null,"exposure_time":null,"aperture":null,"focal_length":null,"iso":null},"location":{"name":null,"city":null,"country":null,"position":{"latitude":0.0,"longitude":0.0}},"views":0,"downloads":0}]'
  recorded_at: Tue, 16 May 2023 22:54:17 GMT
recorded_with: VCR 6.1.0
