---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=UNSPLASH_API_KEY&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"fac479ff3eef69e85ae490b4e7926e13"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"YwNy2dbozho","slug":"YwNy2dbozho","created_at":"2023-05-08T23:33:30Z","updated_at":"2023-05-16T10:34:35Z","promoted_at":"2023-05-13T09:18:29Z","width":4500,"height":6750,"color":"#c0d9f3","blur_hash":"LML#z?.RyEtRG^E2RjWC~TE3MyM|","description":null,"alt_description":"a
        blue and white building with a clock on it''s side","urls":{"raw":"https://images.unsplash.com/photo-1683588775595-07585fdaa097?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMjF8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1683588775595-07585fdaa097?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMjF8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1683588775595-07585fdaa097?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMjF8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1683588775595-07585fdaa097?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMjF8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1683588775595-07585fdaa097?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMjF8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1683588775595-07585fdaa097"},"links":{"self":"https://api.unsplash.com/photos/YwNy2dbozho","html":"https://unsplash.com/photos/YwNy2dbozho","download":"https://unsplash.com/photos/YwNy2dbozho/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMjF8","download_location":"https://api.unsplash.com/photos/YwNy2dbozho/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMjF8"},"likes":78,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"O19A2oCttrE","updated_at":"2023-05-16T21:28:11Z","username":"lukassouza","name":"Lukas
        Souza","first_name":"Lukas","last_name":"Souza","twitter_username":null,"portfolio_url":"https://instagram.com/lukasouzzaa","bio":null,"location":"California","links":{"self":"https://api.unsplash.com/users/lukassouza","html":"https://unsplash.com/@lukassouza","photos":"https://api.unsplash.com/users/lukassouza/photos","likes":"https://api.unsplash.com/users/lukassouza/likes","portfolio":"https://api.unsplash.com/users/lukassouza/portfolio","following":"https://api.unsplash.com/users/lukassouza/following","followers":"https://api.unsplash.com/users/lukassouza/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1568078547421-be7e82b07bbdimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1568078547421-be7e82b07bbdimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1568078547421-be7e82b07bbdimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"lukasouzzaa","total_collections":0,"total_likes":7,"total_photos":148,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"lukasouzzaa","portfolio_url":"https://instagram.com/lukasouzzaa","twitter_username":null,"paypal_email":null}},"exif":{"make":"SONY","model":"ILCE-7M4","name":"SONY,
        ILCE-7M4","exposure_time":"1/800","aperture":"2.8","focal_length":"52.0","iso":125},"location":{"name":"Cascais,
        Portugal","city":"Cascais","country":"Portugal","position":{"latitude":38.697057,"longitude":-9.422294}},"views":315277,"downloads":2404}]'
  recorded_at: Tue, 16 May 2023 21:58:41 GMT
recorded_with: VCR 6.1.0
