---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=UNSPLASH_API_KEY&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"5ea6fa514976c8be2f02a4fdd6b4f9f9"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"5nIQwowcPyc","slug":"5nIQwowcPyc","created_at":"2022-12-09T16:52:42Z","updated_at":"2023-05-14T23:45:39Z","promoted_at":"2023-05-03T13:49:51Z","width":3743,"height":5614,"color":"#EFEFEF","blur_hash":"L1QS85Q-ID^b~9oer]xF04WFV[Iq","description":null,"alt_description":"background
        pattern","urls":{"raw":"https://plus.unsplash.com/premium_photo-1670426502067-99395cc491c2?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNTcyNTl8\u0026ixlib=rb-4.0.3","full":"https://plus.unsplash.com/premium_photo-1670426502067-99395cc491c2?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNTcyNTl8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://plus.unsplash.com/premium_photo-1670426502067-99395cc491c2?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNTcyNTl8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://plus.unsplash.com/premium_photo-1670426502067-99395cc491c2?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNTcyNTl8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://plus.unsplash.com/premium_photo-1670426502067-99395cc491c2?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNTcyNTl8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/unsplash-premium-photos-production/premium_photo-1670426502067-99395cc491c2"},"links":{"self":"https://api.unsplash.com/photos/5nIQwowcPyc","html":"https://unsplash.com/photos/5nIQwowcPyc","download":"https://unsplash.com/photos/5nIQwowcPyc/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNTcyNTl8","download_location":"https://api.unsplash.com/photos/5nIQwowcPyc/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNTcyNTl8"},"likes":36,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"textures-patterns":{"status":"approved","approved_on":"2023-05-04T12:00:10Z"}},"user":{"id":"1cZIbNcXo6o","updated_at":"2023-05-13T06:50:55Z","username":"liabekyan","name":"Lia
        Bekyan","first_name":"Lia","last_name":"Bekyan","twitter_username":"persikola","portfolio_url":"https://www.liabekyan.com","bio":null,"location":"New
        York","links":{"self":"https://api.unsplash.com/users/liabekyan","html":"https://unsplash.com/@liabekyan","photos":"https://api.unsplash.com/users/liabekyan/photos","likes":"https://api.unsplash.com/users/liabekyan/likes","portfolio":"https://api.unsplash.com/users/liabekyan/portfolio","following":"https://api.unsplash.com/users/liabekyan/following","followers":"https://api.unsplash.com/users/liabekyan/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1656949978361-f7c16f157a60image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1656949978361-f7c16f157a60image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1656949978361-f7c16f157a60image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"liaphotographer","total_collections":1,"total_likes":16,"total_photos":415,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"liaphotographer","portfolio_url":"https://www.liabekyan.com","twitter_username":"persikola","paypal_email":null}},"exif":{"make":null,"model":null,"name":null,"exposure_time":null,"aperture":null,"focal_length":null,"iso":null},"location":{"name":null,"city":null,"country":null,"position":{"latitude":null,"longitude":null}},"views":0,"downloads":0}]'
  recorded_at: Tue, 16 May 2023 17:14:19 GMT
recorded_with: VCR 6.1.0
