---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=UNSPLASH_API_KEY&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"273aad9f173cacce850d94581d923ef0"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"Uo0GRpVis-o","slug":"Uo0GRpVis-o","created_at":"2022-12-02T19:32:23Z","updated_at":"2023-04-25T15:35:13Z","promoted_at":"2023-04-24T13:56:43Z","width":5464,"height":3640,"color":"#EFEFEF","blur_hash":"LnHTEKs.0#I;oeoLR+R+NIWVa{oe","description":null,"alt_description":"a
        close up of a desert with sand dunes","urls":{"raw":"https://plus.unsplash.com/premium_photo-1669986680764-6565397d0f08?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMjJ8\u0026ixlib=rb-4.0.3","full":"https://plus.unsplash.com/premium_photo-1669986680764-6565397d0f08?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMjJ8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://plus.unsplash.com/premium_photo-1669986680764-6565397d0f08?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMjJ8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://plus.unsplash.com/premium_photo-1669986680764-6565397d0f08?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMjJ8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://plus.unsplash.com/premium_photo-1669986680764-6565397d0f08?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMjJ8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/unsplash-premium-photos-production/premium_photo-1669986680764-6565397d0f08"},"links":{"self":"https://api.unsplash.com/photos/Uo0GRpVis-o","html":"https://unsplash.com/photos/Uo0GRpVis-o","download":"https://unsplash.com/photos/Uo0GRpVis-o/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMjJ8","download_location":"https://api.unsplash.com/photos/Uo0GRpVis-o/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzQzMjJ8"},"likes":8,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"kgcv124KrNc","updated_at":"2023-05-12T17:07:47Z","username":"zekedrone","name":"Martin
        Sanchez","first_name":"Martin","last_name":"Sanchez","twitter_username":"zekedrone","portfolio_url":"http://www.paypal.me/martinezequiel","bio":"Any
        Donations Artist appreciation As low as $5 helps!  - VENMO - @marty84sanchez\r\nPayPal
        - http://www.paypal.me/martinezequiel Prints: www.society6.com/zekedrone  Instagram:
        @zekedrone","location":"United States","links":{"self":"https://api.unsplash.com/users/zekedrone","html":"https://unsplash.com/@zekedrone","photos":"https://api.unsplash.com/users/zekedrone/photos","likes":"https://api.unsplash.com/users/zekedrone/likes","portfolio":"https://api.unsplash.com/users/zekedrone/portfolio","following":"https://api.unsplash.com/users/zekedrone/following","followers":"https://api.unsplash.com/users/zekedrone/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1540690857989-a39145c78647?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1540690857989-a39145c78647?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1540690857989-a39145c78647?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"zekedrone","total_collections":4,"total_likes":775,"total_photos":85,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"zekedrone","portfolio_url":"http://www.paypal.me/martinezequiel","twitter_username":"zekedrone","paypal_email":null}},"exif":{"make":null,"model":null,"name":null,"exposure_time":null,"aperture":null,"focal_length":null,"iso":null},"location":{"name":null,"city":null,"country":null,"position":{"latitude":null,"longitude":null}},"views":0,"downloads":0}]'
  recorded_at: Tue, 16 May 2023 21:58:42 GMT
recorded_with: VCR 6.1.0
