---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=9_HfxFNfnszh_6oDy1moB7hK8jRq7irGR1P0vL2WzW0&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"02fdb6e9d59cb35a715d33ff07f8636c"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '35'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"OiLpetxZmHw","slug":"OiLpetxZmHw","created_at":"2022-10-07T08:26:35Z","updated_at":"2023-05-14T23:55:05Z","promoted_at":"2023-05-06T10:49:30Z","width":6045,"height":4030,"color":"#f3f3f3","blur_hash":"LJOfx,~q9F-=^+x]aKM{ozM{s:bv","description":null,"alt_description":"a
        woman holding a shopping bag in a store","urls":{"raw":"https://plus.unsplash.com/premium_photo-1664202526602-08cbc96c4b3c?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzc2NTh8\u0026ixlib=rb-4.0.3","full":"https://plus.unsplash.com/premium_photo-1664202526602-08cbc96c4b3c?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzc2NTh8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://plus.unsplash.com/premium_photo-1664202526602-08cbc96c4b3c?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzc2NTh8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://plus.unsplash.com/premium_photo-1664202526602-08cbc96c4b3c?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzc2NTh8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://plus.unsplash.com/premium_photo-1664202526602-08cbc96c4b3c?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzc2NTh8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/unsplash-premium-photos-production/premium_photo-1664202526602-08cbc96c4b3c"},"links":{"self":"https://api.unsplash.com/photos/OiLpetxZmHw","html":"https://unsplash.com/photos/OiLpetxZmHw","download":"https://unsplash.com/photos/OiLpetxZmHw/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzc2NTh8","download_location":"https://api.unsplash.com/photos/OiLpetxZmHw/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzc2NTh8"},"likes":11,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"bFJeTC_Stcc","updated_at":"2023-05-16T19:22:04Z","username":"hans_isaacson","name":"Hans
        Isaacson","first_name":"Hans","last_name":"Isaacson","twitter_username":"IsaacsonHans","portfolio_url":"http://HansIsaacson.com","bio":"Photographer
        \u0026 Creative \r\nBased in Upper Michigan \r\n","location":"Michigan, USA","links":{"self":"https://api.unsplash.com/users/hans_isaacson","html":"https://unsplash.com/@hans_isaacson","photos":"https://api.unsplash.com/users/hans_isaacson/photos","likes":"https://api.unsplash.com/users/hans_isaacson/likes","portfolio":"https://api.unsplash.com/users/hans_isaacson/portfolio","following":"https://api.unsplash.com/users/hans_isaacson/following","followers":"https://api.unsplash.com/users/hans_isaacson/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1666027165666-57135f812f36?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1666027165666-57135f812f36?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1666027165666-57135f812f36?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"outdoorpixs","total_collections":37,"total_likes":889,"total_photos":2715,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"outdoorpixs","portfolio_url":"http://HansIsaacson.com","twitter_username":"IsaacsonHans","paypal_email":null}},"exif":{"make":null,"model":null,"name":null,"exposure_time":null,"aperture":null,"focal_length":null,"iso":null},"location":{"name":null,"city":null,"country":null,"position":{"latitude":null,"longitude":null}},"views":0,"downloads":0}]'
  recorded_at: Tue, 16 May 2023 22:54:18 GMT
recorded_with: VCR 6.1.0
