---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=UNSPLASH_API_KEY&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"cb2705c45b2a5514d071ee779b8b4f15"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"vSBIMmzJln8","slug":"vSBIMmzJln8","created_at":"2023-05-03T20:20:33Z","updated_at":"2023-05-15T01:33:18Z","promoted_at":"2023-05-04T14:41:16Z","width":4849,"height":5840,"color":"#d9d9d9","blur_hash":"LfMaeKWBV=t7?^ofbIR*D%oJozof","description":"Mount
        Cook. From New Zealand Graphic and Descriptive, 1875, by William Hodgkins,
        C Kell, Sampson Low, Marston, Searle and Rivington Ltd. Te Papa (1988-0004-13)","alt_description":"a
        painting of a mountain range with a river running through it","urls":{"raw":"https://images.unsplash.com/photo-1683143726220-94dfe01d5a81?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQxOTM1OTN8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1683143726220-94dfe01d5a81?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQxOTM1OTN8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1683143726220-94dfe01d5a81?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQxOTM1OTN8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1683143726220-94dfe01d5a81?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQxOTM1OTN8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1683143726220-94dfe01d5a81?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQxOTM1OTN8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1683143726220-94dfe01d5a81"},"links":{"self":"https://api.unsplash.com/photos/vSBIMmzJln8","html":"https://unsplash.com/photos/vSBIMmzJln8","download":"https://unsplash.com/photos/vSBIMmzJln8/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQxOTM1OTN8","download_location":"https://api.unsplash.com/photos/vSBIMmzJln8/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQxOTM1OTN8"},"likes":70,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"m6Q1Gzoicm8","updated_at":"2023-05-14T23:11:46Z","username":"tepapa","name":"Museum
        of New Zealand Te Papa Tongarewa","first_name":"Museum of New Zealand Te Papa
        Tongarewa","last_name":null,"twitter_username":"te_papa","portfolio_url":"https://www.tepapa.govt.nz/","bio":null,"location":"Wellington,
        New Zealand","links":{"self":"https://api.unsplash.com/users/tepapa","html":"https://unsplash.com/@tepapa","photos":"https://api.unsplash.com/users/tepapa/photos","likes":"https://api.unsplash.com/users/tepapa/likes","portfolio":"https://api.unsplash.com/users/tepapa/portfolio","following":"https://api.unsplash.com/users/tepapa/following","followers":"https://api.unsplash.com/users/tepapa/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1683214917800-95fd80936f9eimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1683214917800-95fd80936f9eimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1683214917800-95fd80936f9eimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"te_papa","total_collections":0,"total_likes":0,"total_photos":217,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"te_papa","portfolio_url":"https://www.tepapa.govt.nz/","twitter_username":"te_papa","paypal_email":null}},"exif":{"make":null,"model":null,"name":null,"exposure_time":null,"aperture":null,"focal_length":null,"iso":null},"location":{"name":null,"city":null,"country":null,"position":{"latitude":0.0,"longitude":0.0}},"views":135265,"downloads":1849}]'
  recorded_at: Mon, 15 May 2023 23:33:13 GMT
recorded_with: VCR 6.1.0
