---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=UNSPLASH_API_KEY&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"790ad0bc9faec96597b38726171958bf"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"11oNVIiDP4w","slug":"11oNVIiDP4w","created_at":"2023-05-09T17:58:09Z","updated_at":"2023-05-16T07:36:39Z","promoted_at":"2023-05-12T06:24:01Z","width":2500,"height":3500,"color":"#f3f3f3","blur_hash":"L~IORsofWBoe~qofWBj[-;kCj@ay","description":"epic
        sunrise in Venice","alt_description":"an aerial view of a city with a clock
        tower","urls":{"raw":"https://images.unsplash.com/photo-1683654968102-da4bf0d2d179?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzU1ODJ8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1683654968102-da4bf0d2d179?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzU1ODJ8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1683654968102-da4bf0d2d179?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzU1ODJ8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1683654968102-da4bf0d2d179?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzU1ODJ8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1683654968102-da4bf0d2d179?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzU1ODJ8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1683654968102-da4bf0d2d179"},"links":{"self":"https://api.unsplash.com/photos/11oNVIiDP4w","html":"https://unsplash.com/photos/11oNVIiDP4w","download":"https://unsplash.com/photos/11oNVIiDP4w/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzU1ODJ8","download_location":"https://api.unsplash.com/photos/11oNVIiDP4w/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzU1ODJ8"},"likes":41,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"travel":{"status":"unevaluated"}},"user":{"id":"oK4acxIDEtk","updated_at":"2023-05-16T18:38:08Z","username":"joshuakettle","name":"Joshua
        Kettle","first_name":"Joshua Kettle","last_name":null,"twitter_username":null,"portfolio_url":null,"bio":"Travel
        \u0026 Landscape Photographer","location":"Germany","links":{"self":"https://api.unsplash.com/users/joshuakettle","html":"https://unsplash.com/pt-br/@joshuakettle","photos":"https://api.unsplash.com/users/joshuakettle/photos","likes":"https://api.unsplash.com/users/joshuakettle/likes","portfolio":"https://api.unsplash.com/users/joshuakettle/portfolio","following":"https://api.unsplash.com/users/joshuakettle/following","followers":"https://api.unsplash.com/users/joshuakettle/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1667148508707-33909268e882image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1667148508707-33909268e882image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1667148508707-33909268e882image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"joshuakettle.photography","total_collections":14,"total_likes":96,"total_photos":476,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"joshuakettle.photography","portfolio_url":null,"twitter_username":null,"paypal_email":null}},"exif":{"make":"DJI","model":"FC3582","name":"DJI,
        FC3582","exposure_time":"1/40","aperture":"1.7","focal_length":"6.7","iso":100},"location":{"name":"Venice,
        Metropolitan City of Venice, Italy","city":"Venice","country":"Italy","position":{"latitude":45.440847,"longitude":12.315515}},"views":152115,"downloads":1371}]'
  recorded_at: Tue, 16 May 2023 22:19:42 GMT
recorded_with: VCR 6.1.0
