---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=9_HfxFNfnszh_6oDy1moB7hK8jRq7irGR1P0vL2WzW0&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"38d3617c7d5d6a794bcd07f08de9d163"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '33'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"dPvj4bCJetg","slug":"dPvj4bCJetg","created_at":"2023-05-09T13:53:19Z","updated_at":"2023-05-16T05:55:16Z","promoted_at":"2023-05-10T13:18:27Z","width":6000,"height":4000,"color":"#d9d9d9","blur_hash":"LTIhmLx]9FM{^-ofMwM{OAMxM{ay","description":null,"alt_description":"a
        woman taking a picture of herself in a backyard","urls":{"raw":"https://plus.unsplash.com/premium_photo-1683622797215-b06f6e7d0ac5?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzkyNDd8\u0026ixlib=rb-4.0.3","full":"https://plus.unsplash.com/premium_photo-1683622797215-b06f6e7d0ac5?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzkyNDd8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://plus.unsplash.com/premium_photo-1683622797215-b06f6e7d0ac5?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzkyNDd8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://plus.unsplash.com/premium_photo-1683622797215-b06f6e7d0ac5?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzkyNDd8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://plus.unsplash.com/premium_photo-1683622797215-b06f6e7d0ac5?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzkyNDd8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/unsplash-premium-photos-production/premium_photo-1683622797215-b06f6e7d0ac5"},"links":{"self":"https://api.unsplash.com/photos/dPvj4bCJetg","html":"https://unsplash.com/photos/dPvj4bCJetg","download":"https://unsplash.com/photos/dPvj4bCJetg/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzkyNDd8","download_location":"https://api.unsplash.com/photos/dPvj4bCJetg/download?ixid=M3w0NDgxNjV8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODQyNzkyNDd8"},"likes":1,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"7BCA6dvaLh0","updated_at":"2023-05-16T18:17:03Z","username":"elisabethjurenka","name":"Elisabeth
        Jurenka","first_name":"Elisabeth","last_name":"Jurenka","twitter_username":null,"portfolio_url":null,"bio":null,"location":"Griechenland","links":{"self":"https://api.unsplash.com/users/elisabethjurenka","html":"https://unsplash.com/@elisabethjurenka","photos":"https://api.unsplash.com/users/elisabethjurenka/photos","likes":"https://api.unsplash.com/users/elisabethjurenka/likes","portfolio":"https://api.unsplash.com/users/elisabethjurenka/portfolio","following":"https://api.unsplash.com/users/elisabethjurenka/following","followers":"https://api.unsplash.com/users/elisabethjurenka/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1683666508176-1b5ac87a717eimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1683666508176-1b5ac87a717eimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1683666508176-1b5ac87a717eimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"olive_and.ruby","total_collections":4,"total_likes":15,"total_photos":130,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"olive_and.ruby","portfolio_url":null,"twitter_username":null,"paypal_email":null}},"exif":{"make":null,"model":null,"name":null,"exposure_time":null,"aperture":null,"focal_length":null,"iso":null},"location":{"name":null,"city":null,"country":null,"position":{"latitude":0.0,"longitude":0.0}},"views":0,"downloads":0}]'
  recorded_at: Tue, 16 May 2023 23:20:47 GMT
recorded_with: VCR 6.1.0
